<% if logged_in? %>

    
<%= link_to "新規タスクを登録する", new_task_path %>

<%= render "tasks/tasks", tasks: @tasks %>


<%= link_to "Log out", logout_path, method: :delete %>


<% else %>

<h1>Welcome to Tasklist</h1>

    <ul>
        <li>
<%= link_to "Sign up", signup_path %>
</li>
        <li>
<%= link_to "Log in", login_path %>
</li>

</ul>
<% end %>